body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d50000;
  // background: rgb(2,0,36);
  // background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,23,52,1) 42%, rgba(5,91,175,1) 73%, rgba(5,100,181,1) 78%, rgba(0,114,255,1) 81%, rgba(0,212,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

